body {
    background-color: rgb(185, 184, 184);
  }  
  #footer{
   display: none;
 }
  
  #text{
    position: absolute;
    text-align: left;
    max-width: 300px;
    margin-left: 58rem;
    margin-top: -5rem;
    font-family:  'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;;
  }
  
  #img1 { 
    width: 10rem;
    margin-left: -5rem;
    width: 8%;
    margin-top: -50px;
    opacity: 1;
  }

