
.container {
    position: relative;

.bottomright {
    position: fixed;
    bottom: -350px;
    right: -20px;
    size: 10px;
  }
  
  .topright {

.bottomright {

    position: absolute;
    bottom: -350px;
    right: -20px;
    font-size: 18px;
  }
  .questions{
    position: absolute;
    bottom: -300px;

  }
