.container {
    position: relative;
  }
  
  .topright {
    position: absolute;
    top: 8px;
    right: 100px;
    font-size: 1px;
  }
  
  img { 
    width: 8%;
    height: auto;
    opacity: 1;
  }
  
  body {
    background-color: lightgrey;
  }