#footer{
    position:fixed;
    bottom: 0;
    height: 30px;
    width:100%;
    background-color:#f5f1f1;
    color: rgb(0, 0, 0);
    text-align: center;
}

#banner{
    width: 100%;
    height: auto;
}

.contact-text{
    text-align: center;
    margin-top: 3rem;
}
#restaurantimg{
    max-height: 300px;
    margin-top: 1rem;
    margin-left: 34%;
}

.cuisine{
    margin-top: -16rem;
    text-align: left;
    max-width: 400px;
    margin-left: 0rem;
    font-family:  'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;;
}

.type-restaurant{
    margin-top: -14.5rem;
    text-align: left;
    max-width: 400px; 
    margin-left: auto;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;;
}


body {
    background-color: rgb(233, 233, 233);
}
