@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: rgb(255, 255, 255);
  }  
  #footer{
   display: none;
 }
  
  #text{
    position: absolute;
    text-align: left;
    max-width: 300px;
    margin-left: 58rem;
    margin-top: -5rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  #img1 { 
    width: 10rem;
    margin-left: -5rem;
    width: 8%;
    margin-top: -50px;
    opacity: 1;
  }

      