#footer{
    position:fixed;
    
    bottom: 0;
    height: 30px;
    width:100%;
    background-color:#f5f1f1;
    color: rgb(0, 0, 0);
    text-align: center;
}

#banner{
    width: 100%;
    height: auto;
}

.contact-text{
    text-align: center;
    margin-top: 5rem;
}

.cuisine{
    margin-right: auto;
    margin-top: 8rem;
    text-align: left;
    max-width: 400px;
    height: auto;
    margin-left: 4rem;
}

.type-restaurant{
    margin-left: auto;
    margin-top: -14.5rem;
    text-align: left;
    max-width: 400px;   
    height: auto;
    margin-right: 4rem;
}
#carouselExampleFade{
    max-width: 750px;   
    margin-top: -14.5rem;
    margin-left: 33rem;
}

body {
    background-color: rgb(233, 233, 233);
}
